<html>

<head>
<link  href="http://fonts.googleapis.com/css? 
family=Reenie+Beanie:regular"  
rel="stylesheet"  
type="text/css">  
</head>

<body>
<div id="Title">
<h1 >
Welcome to My Blog
</h1>
</div>

<ul>  
  <li>  
    <a href="#">  
      <h2>Blog</h2>  
      <p>Text Content #1</p>  
    </a>  
  </li>  
  <li>  
    <a href="#">  
      <h2>Login</h2>  
      <p>Text Content #2</p>  
    </a>  
  </li>
  <li>  
  <a href="#">  
      <h2>About</h2>  
      <p>Text Content #2</p>  
    </a>  
  </li>  
  <li>
  <a href="#">  
      <h2>Help</h2>  
      <p>Text Content #2</p>  
    </a>  
  </li>
   <li>
  <a href="#">  
      <h2>Contact</h2>  
      <p>Text Content #2</p>  
    </a>  
  </li> 
   <li>
  <a href="#">  
      <h2>Help</h2>  
      <p>Text Content #2</p>  
    </a>  
  </li>   
</ul>  


</body>

</html>